{% extends 'base/base.html' %}

<!-- title -->
{% block title %} Home {% endblock %}

<!-- content -->

{% block content %}
<!-- hero section -->

{% include 'base/hero-section.html' %}

<!-- features section -->
{% include 'base/features-solution.html' %}

<!-- case studies section -->
{% include 'base/case-study/case-studies.html' %}

<!-- testimonials section -->
{% include 'base/testimonials.html' %}

<!-- articles section -->
{% include 'base/articles/articles.html' %}

<!-- events section -->
{% include 'base/events.html' %}

<!-- contact us  -->
{% include 'base/contacts.html' %}
<!-- end content section -->
{% endblock %}
